
<div id="layout">
    <div id="menu">
        <div class="pure-menu">
            <a href="/" class="pure-menu-heading">Flipping</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/challenge/currency" class="pure-menu-link">Currency</a></li>
                <li class="pure-menu-item"><a href="/challenge/fragment" class="pure-menu-link">Fragments</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class = "header">
            <h1>PoE Flipper</h1>
            <h2>A site for Path of Exile Profit Margins</h2>
        </div>

        <div class=content>
            <div class='title'>What is PoeFlipper?</div>
            <div class="grey_bg">
                <p><b>PoeFlipper</b> is a website that makes it easier to find profit margins to trade currency in 
                    <a href="https://www.pathofexile.com">Path of Exile</a>. 
                    Pricing information is taken directly from
                    <a href="https://poe.ninja">poe.ninja</a>
                    and currently supports Currency and Fragment tabs.
                </p>
            </div>
        </div>
    </div>
</div>
