<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PoE Profit Margins</title>
        <meta name="description" content="Website for Path of Exile profit margins.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.ico">
        <link 
            rel="stylesheet" 
            href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
            integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>


    <body>
    <div id="layout">
        <div id="menu">
            <div class="pure-menu">
                <a href="/" class="pure-menu-heading">Flipping</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item current"><a href="/currency" class="pure-menu-link">Currency</a></li>
                    <li class="pure-menu-item"><a href="/fragment" class="pure-menu-link">Fragments</a></li>
                    <li class="pure-menu-item"><a href="/deliriumorb" class="pure-menu-link">Delirium Orbs</a></li>
                    <li class="pure-menu-item"><a href="/watchstone" class="pure-menu-link">Watchstones</a></li>
                    <li class="pure-menu-item"><a href="/oil" class="pure-menu-link">Oils</a></li>
                    <li class="pure-menu-item"><a href="/incubator" class="pure-menu-link">Incubators</a></li>
                    <li class="pure-menu-item"><a href="/scarab" class="pure-menu-link">Scarabs</a></li>
                    <li class="pure-menu-item"><a href="/fossil" class="pure-menu-link">Fossils</a></li>
                    <li class="pure-menu-item"><a href="/essence" class="pure-menu-link">Essences</a></li>
                    <li class="pure-menu-item"><a href="/divination" class="pure-menu-link">Divination Cards</a></li>
                    <li class="pure-menu-item"><a href="/prophecy" class="pure-menu-link">Prophecies</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class = "header">
                <h1>Welcome to PoE Flipper!</h1>
                <h2>A site for Path of Exile Profit Margins</h2>
            </div>

            <div class="content">
                <table class="pure-table">
                    <thead>
                        <th>Currency</th>
                    </thead>
                    <tbody>
                        <% for(var item of data) { %>
                            <tr>
                                <td><%= item.currencyTypeName %> </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
    </body>



</html>